@font-face {
    font-family: 'Inter-VariableFont_opsz,wght';
    src: url(/font/Inter-VariableFont_opsz\,wght.ttf);
}
body{
    font-family: 'Inter-VariableFont_opsz,wght';
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    margin: auto;
    display: flex;
    justify-content: center;
}
p{
    margin: 0;
}
.content-box{
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    height: 310px;
    width: 350px;
    background-color: hsl(244, 38%, 16%);
    padding: 50px 100px 40px 50px;
    border-radius: 20px 0px 0px 20px;
}
.count{
    display: flex;
    gap: 60px;
    margin-top: 60px;
}
.image{
    height: 400px;
    width: 500px;
    background-color: hsl(277, 84%, 38%);
    border-radius: 0px 20px 20px 0px;
}
.image img{
    height: 400px;
    width: 500px;
    background-color: hsl(277, 84%, 38%);
    opacity: 0.5;
    border-radius: 0px 20px 20px 0px;
}
#count-data p:first-of-type{
    font-size: 28px;
    font-weight: 700;
}
#count-data p:nth-of-type(2){
    color: hsla(0, 0%, 100%, 0.75);
    text-transform: uppercase;
    margin-top: 3px;
}